html {
    scroll-behavior: smooth;
}

.collapse-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.collapse-wrapper.is-open {
    grid-template-rows: 1fr;
}

.collapse-content {
    overflow: hidden;
}