.main-bg {

    align-items: center;
    background-image: url("https://vneid.gov.vn/_next/static/media/background-login.98683067.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-color: rgb(229, 231, 235);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229, 231, 235);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(229, 231, 235);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(229, 231, 235);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: "tnum";
    font-size: 14px;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: tabular-nums;
    font-variant-position: normal;
    line-height: 22px;
    padding-top: 32px;
    tab-size: 4;
    width: 1323px;
    --antd-wave-shadow-color: #1890ff;
    --base: 16px;
    --baseLineH: 24px;
    --lg: 18px;
    --lgLineH: 28px;
    --scroll-bar: 0;
    --tw-bg-opacity: 1;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-offset-width: 0px;
    --tw-ring-shadow: 0 0 #0000;
    --tw-rotate: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --xl: 20px;
    --xlLineH: 28px;
}